* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  header */
#header {
    width: 1920px;
    height: 78px;
    display: flex;
    justify-content: space-between;
    color: #107af2;
    font-family: 'NotoSansKR';
}

.logo {
    display: flex;
    margin-left: 35px;
    padding-top: 12px;
}

.logo h1 {
    font-size: 20px;
    padding-top: 15px;
    color: #107af2;
}
.logo h1 a{
    color: #107af2;
}

.logo .logo_img {
    width: 50px;
    height: 50px;
    background: url(../img/logo.svg);
    background-position: 0px 0px;
    margin-right: 20px;
}

.menu_list {
    display: flex;
    margin-top: 26px;
    margin-left: 10px;
}
.menu_list li a{
    font-family: 'NexonLv1Gothic';
    color: #107af2;
    margin: 8px 30px;
    font-size: 20px;
}

.menu_list li a:hover {
    color: rgb(8, 14, 97);
    transition: all 0.3s;
    border-bottom: 1px solid #a0ccff;
}

.nav ul {
    display: flex;
}

.nav ul li {
    list-style: none;
    margin-top: 26px;
    margin-left: 10px;
}

.nav ul li:nth-child(2) {
    margin-right: 35px;
}

.nav ul li a {
    font-family: 'NexonLv1Gothic';
    text-decoration: none;
    color: #107af2;
    padding: 8px 22px;
    border: 1px solid #107af2;
    border-radius: 60px;
}

.nav ul li a:hover {
    background-color: #107af2;
    color: #fff;
    transition: all 0.3s;
}
.header_hidden {
    display: none;
}
#header .nav .setting_li{
    margin-top: 21px;
}
#header .nav .setting svg {
    vertical-align: -8px;
    padding-right: 5px;
}
.alert {
    position: absolute;
    left: 42%; top: 25%;
    color: #107af2;
    border-radius: 50px;
    padding: 50px;
    background-color: #fff;
}


@media (max-width:450px) {
    .header_hidden {
        display: block;
        width: 20px;
        height: 10px;
        background: url(../img/logo.svg);
        background-position: -200px 0;
        margin: 32px 0px;
        margin-right: 15px;
        position: absolute;
        right: 0; 
    }
    .logo {
        display: flex;
        margin-left: 15px;
        padding: 12px 0;
    }
    #header {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        color: #107af2;
        font-family: 'NotoSansKR';

    }
    .menu_list{
        width: 100%;
        display: none;
        justify-content: center;
        margin-bottom: 10px;
    }
    .menu_list.hid{
        display: block;
        display: flex;
    }
    #header .nav {
        display: none;
        padding-left: 31px;
        padding-bottom: 25px;
        border-bottom: 2px solid #107af2;
    }
    #header .nav ul{
        justify-content: center;
    }
    #header .nav.hid{
        display: block !important;
    }
    #header .nav .setting_li{
        margin-top: 18px;
    }
}

/*  //header */
#contents {
    width: 100%;
  
    background: #a0ccff;
}

/* Join */
.join-type {
    padding: 250px 0;
}
.member-form {
    max-width: 590px;
    border: 1px solid #DEDEDE;
    background: #fff;
    margin: 0 auto;
    padding: 50px;
    border-radius: 20px;
}
.member-form h3 {
    font-weight: 500;
    font-size: 34px;
    margin-bottom: 25px;
}
.member-form .list li {
    font-size: 14px;
    line-height: 1.6;
    position: relative;
    padding-left: 10px;
}
.member-form .list li::before {
    content: '';
    width: 3px;
    height: 3px;
    background: #000;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 7px;
}

.member-form .blue {
    background-color: #f5f5f5;
    padding: 20px;
}
.join-box label {
    display: inline-block;
    font-size: 14px;
    margin-bottom: 15px;
    margin-left: 10px;
    font-weight: 700;
}
/*느낌표*/
.BP {
    display: inline;
    vertical-align: -5px;
}
.BP:hover {
    cursor: pointer;
}
/*gender*/
.gender {
    width: 50%;
    display: flex;
    justify-content: space-around;
}
.gender > div {
    display: flex;
}
.gender p {
    margin-right: 10px;
    margin-top: 2px;
    color: rgba(0,0,0,0.7);
}
.gender .gendertype {
    width: 20px !important;    
    height: 20px !important;
    display: inline-block;
}
.join-box input {
    border: 1px solid #dfdfdf;
    width: 100%;
    padding: 15px;
    height: 50px;
    margin-bottom: 50px;
    border-radius: 50px;
}

/* .join-box .input {
    border: 1px solid #dfdfdf;
    width: 100%;
    padding: 10px;
    height: 50px;
    margin-bottom: 50px;
    border-radius: 50px;
    color: rgba(0,0,0,0.6);
    
} */
.join-submit {
    font-size: 16px;
    background: #107af2;
    padding: 14px;
    display: block;
    width: 100%;
    transition: all 0.3s;
    cursor: pointer;
    color: #fff;
    border-radius: 3vh;
    margin-top: 56px;
}
.join-submit:hover {
    box-shadow: inset 0 0 0 2px #222;
    background: #fff;
    color: #107af2;
}
.login-submit {
    font-size: 16px;
    background: #fff;
    border: 3px solid #000;
    padding: 14px;
    display: block;
    width: 100%;
    transition: all 0.3s;
    cursor: pointer;
    color: #000;
    border-radius: 3vh;
    margin-top: 56px;
}
.login-submit:hover {
    box-shadow: inset 0 0 0 2px #000;
    background: #fff;
}
/*또는*/
.spanOR {
    margin-top: 54px;
    margin-bottom: 54px;
    display: block;
    text-align: center;
    font-size: 16px;
    color: #5c5d61;
}
.spanOR::after {
    content: '';
    padding: 0 110px;
    border-bottom: 1px solid #5c5d61;
    vertical-align: 10px;
    margin-left: 6px;

}
.spanOR::before {
    content: '';
    padding: 0 110px;
    border-bottom: 1px solid #5c5d61;
    vertical-align: 10px;
    margin-right: 6px;
}
/*footer*/
 /* footer */
 #footer {
    height: 400px;
    background: #fff;
    padding: 82px 180px 88px;
}

.footer__container {
    height: 230px;
    margin: 0 auto;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.footer__logo {
    background: url(../img/footer.svg);
    width: 250px;
    height: 230px;
    font-family: 'NexonLv1Gothic';
}

.github {
    position: relative;
}

.github h4 {
    font-size: 30px;
    font-weight: 500;
    color: #107af2;
    margin-bottom: 75px;
    margin-top: 15px;
    font-family: 'Poppins', sans-serif;
}

.github .footer__git {
    background: url(../img/git.svg);
    width: 48px;
    height: 48px;
    position: absolute;
    left: -65px;
    top: 5px;
}

.github a {
    display: block;
    text-decoration: none;
    line-height: 100%;
    font-size: 14px;
    color: #107af2;
    margin-bottom: 25px;
    font-family: 'Poppins', sans-serif;
}

.mail h4 {
    font-size: 30px;
    font-weight: 500;
    color: #107af2;
    margin-bottom: 75px;
    margin-top: 15px;
    font-family: 'Poppins', sans-serif;
}

.mail a {
    display: block;
    text-decoration: none;
    line-height: 100%;
    font-size: 14px;
    color: #107af2;
    margin-bottom: 25px;
    font-family: 'Poppins', sans-serif;
}

.copy {
    text-align: center;
    font-size: 10px;
    font-weight: 300;
    color: #107af2;
    margin: 40px 0 30px;
    font-family: 'Poppins', sans-serif;
}
@media (max-width:450px) {
    #footer {
    width: 100%;
    padding: 0;
    height: 100%;
}
.footer__container {
    display: flex;
    text-align: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    padding: 0;
}
.footer__logo {
    display: none;
}
.github h4 {
    font-size: 17px;
    font-weight: 500;
    color: #107af2;
    margin-bottom: 40px;
    margin-top: 15px;
    font-family: 'Poppins', sans-serif;
    padding-left: 10px;

}

.github .footer__git {
    background-size: 50%;
    left: -15px;
    top: 15px;
    background-repeat: no-repeat;
}

.github a {
    display: block;
    text-decoration: none;
    line-height: 100%;
    font-size: 10px;
    margin-bottom: 12px;
    font-family: 'Poppins', sans-serif;
}

.mail h4 {
    font-size: 17px;
    margin-bottom: 45px;
    margin-top: 15px;
}

.mail a {
    display: block;
    font-size: 10px;
    line-height: 0;
    margin: 21px;
}

.copy {
    padding-top: 10px;
    margin: 0;

}
}


/* //footer */

/* main */
#main {
    width: 1920px;
}
.main_section {
    width: 100%;
    height: auto;
    font-family: 'NotoSansKR';
}
.main_img {
    width: 1920px;
    height: 900px;
    background: url(../img/banner_img.jpg);
    background-size: cover;
}
.section_info h2 {
    margin: 260px 0 20px 220px;
    margin-top: 260px;
    font-size: 64px;
}
.section_info br {
    display: none;
}
.section_info p{
    margin-left: 220px;
    font-size: 56px;
}
.info_img {
    width: 100%;
    height: 700px;
    margin-top: 227px;
    display: flex;
    justify-content: space-between;
}
.info_img img {
    width: 700px;
    height: 700px;
}
.info_img h3 {
    margin-top: 460px;
    margin-left: 214px;
    margin-bottom: 53px;
    font-size: 56px;
    color: #222;
}
.section_info2 {
    margin-left: 214px;
}
.section_info2 h3{
    font-size: 22px;
}
.section_info2 span{
    display: inline-block;
    color: #107af2;
    font-size: 17px;
    padding-bottom: 40px;
    padding-top: 100px;
}
.section_info2 p{
    font-size: 17px;
    line-height: 1.4;
    color: #464a4e;
    width: 700px;
    margin-bottom: 272px;
}
.section_news {
    width: 100%;
    height: 941px;
    display: flex;
    justify-content: space-between;
}
.news_img {
    position: relative;
}
.news_img1 {
    background-color: rgb(116, 187, 171);
    width: 420px;
    height: 300px;
}
.news_img2 {
    background-color: rgb(235, 149, 149);
    width: 585px;
    height: 585px;
    position: absolute;
    left: 355px;
    top: 150px;
}
.news_img3 {
    background-color: rgb(149, 134, 212);
    width: 368px;
    height: 253px;
    margin-top: 377px;
    margin-left: 117px;
}
.news_text h3{
    font-size: 56px;
    color: #222;
    line-height: 1.6;
    margin-top: 400px;
    margin-bottom: 58px;
}
.news_text_1{
    line-height: 1.8;
    font-size: 22px;
    margin-bottom: 100px;
}
.news_text_2{
    line-height: 1.8;
    font-size: 17px;
    line-height: 34px;
    width: 552px;
    margin-top: 21px;
}
.news_text span {
    color: #107af2;
}
/* news */

/* community */
.community {
    height: 800px;
    width: 100%;
}
.community_box {
    width: 1500px;
    margin: 0 auto;
    height: 800px;
}
.community_box h3 {
    font-size: 56px;
    color: #222;
    margin-bottom: 125px;
    margin-top: 266px;
}
.community_list {
    display: flex;
    justify-content: space-between;
}
.community_list div {
    width: 484px;
    height: 340px;
}
.community_list a:first-child {
    background-color: #107AF2;
    color: #fff;
}
.community_list a:nth-child(2){
    background-color: #15B874;
    color: #fff;
}
.community_list a:nth-child(3){
    background-color: #FF6F3F;
    color: #fff;
}
.community_list div h4 {
    font-size: 24px;
    padding-left: 40px;
    padding-top: 40px;
}
.community_list div p {
    font-size: 28px;
    padding-left: 40px;
    padding-top: 150px;
}
@media (max-width:450px) {
    #main {
        width: 100%;
    }
    .main_section {
        width: 100%;
        height: auto;
        font-family: 'NotoSansKR';
    }
    .main_img {
        width: 100%;
        height: 500px;
        background: url(../img/banner_img.jpg);
        background-size: cover;
        background-position: -300px 0;
    }
    .section_info {
        display: flex;
        flex-direction: column;
    }
    .section_info h2 {
        margin: 100px 0 20px 20px;
        font-size: 34px;
    }
    .section_info p{
        margin-left: 20px;
        font-size: 20px;
    }
    .info_img {
        width: 100%;
        height: auto;
        margin-top: 227px;
        display: flex;
        flex-direction: column-reverse;
    }
    .info_img img {
        width: 102%;
        height: auto;
        overflow: hidden;
    }
    .info_img h3 {
        margin-top: 100px;
        margin-left: 20px;
        margin-bottom: 53px;
        font-size: 40px;
        color: #222;
    }
    .section_info2 {
        margin-left: 20px;
    }
    .section_info br {
        display: block;
    }
    .section_info2 h3 {
        font-size: 18px;
    }
    .section_info2 p {
        font-size: 15px;
        line-height: 1.4;
        color: #464a4e;
        width: 100%;
        padding: 10px 0;
        margin-bottom: 150px;
    }
    .section_news {
        width: 100%;
        height: 880px;
        display: flex;
        flex-direction: column;
    }
    .news_img1 {
        width: 100%;
    }
    .news_img2,
    .news_img3 {
        display: none;
    }
    .news_text h3 {
        font-size: 40px;
        padding: 0 10px;
        color: #222;
        margin-top: 0px;
    }
    .news_text_1 {
        font-size: 18px;
        padding: 0 20px;
    }
    .news_text span {
        color: #107af2;
        padding-left: 20px;
    }
    .news_text_2 {
        font-size: 15px;
        width: 100%;
        margin-top: 21px;
        padding: 0 20px;
    }
    .community {
        height: 1500px;
        width: 100%;
    }
    .community_box h3 {
        font-size: 40px;
        color: #222;
        margin-bottom: 50px;
        margin-top: 200px;
        padding: 0 20px;
    }
    .community_box {
        width: 100%;
        margin: 0 auto;
        height: auto;
    }
    .community_list {
        flex-direction: column;
        height: 100%;
    }
    .community_list div {
        width: 100%;
        height: 340px;
    }
    .community_list div:nth-child(3){
        padding-bottom: 0px;
    }
}

/* //main */

/*board*/
.board_contents {
    background: #fff;

}
/*board*/


.board__search  fieldset {
    position: relative;
    margin-bottom: 20px;
}
.board__search .search-form {
    border: 1px solid #c6c6c6;
    width: 800px;
    height: 72px;
    border-radius: 36px;        
    position: absolute;
    left: 200px;
    top: 0;
    padding-left: 32px;
    
    
}

.board__search .search-btn {
    background: url(../img/search.svg);
    width: 22px;
    height: 22px;
    position: absolute;
    right: 230px;
    top: 25px;
}

.board__pages {
    margin-top: 60px;
}
.board__pages ul {
    display: flex;
    justify-content: center;
}

.board__pages ul li a {
    display: block;
    
    padding: 14px 10px;
    font-size: 14px;
    margin-left: -1px;
}
.board__pages ul li.active a {
    
    color: #107af2;
}
.board__table {
    margin-top: 100px;
}
.board__table table {
    width: 100%;
    
}
.board__table table th {
    background-color: #d9ebff;
    font-weight: 500;
}
.board__table table th,
.board__table table td {
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #d9d9d9;
    padding: 20px 0;
    font-size: 14px; 
         
}
.board__table table td {
    vertical-align: top;
    text-align: center;
    font-size: 16px;
}
.blueNumber {
    color: #107af2;
    font-size: 20px !important;
}

.board__table table.hover tr {
    transition: all 0.3s;
    cursor: pointer;
}
.board__table table.hover tr:hover {
    background-color: #d9ebff;
}
.board__table table .left {
    text-align: left;
    padding: 20px;
}
.board__table table .height {
    height: 400px;
    line-height: 1.6;    
}
.boardWrite_btn {
    width: 100px;
    height: 36px;
    background: #d9ebff;
    font-size: 14px;
    float: right;
    text-align: center;
    line-height: 2.6;
    margin-top: 30px;
    border-radius: 5px;
}
.board__btn {
    float: right;
    margin-top: 20px;
}
.board__btn a,
.board__btn button {
    border: 1px solid #D9EBFF;
    padding: 9px 20px;
    border-radius: 5px;    
    background: #D9EBFF;
    color: #000; 
    display: inline-block; 
    font-size: 14px; 
    cursor: pointer; 
}

.board__modify {
    text-align: left;
}
.board__modify label {
    display: block;
    margin-bottom: 5px;
}
.board__modify input {
    width: 100%;
    background: #D9EBFF;
    border: 0;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}
.board__modify textarea {
    width: 100%;
    background: #D9EBFF;
    margin-bottom: 20px;
    padding: 20px;
    border: 0;
    resize: none;
    height: 400px;
    border-radius: 5px;
}

